In [1]:
import pandas as pd

data = pd.read_csv("loan_approval_dataset.csv")
data.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [2]:
data shape

SyntaxError: invalid syntax (715804503.py, line 1)

In [ ]:
data.shape

In [ ]:
data.drop('loan_id', axis=1, inplace=True)

In [ ]:
data.head()

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in data.select_dtypes(include='object').columns:
    data[col] = le.fit_transform(data[col])

In [ ]:
data.dtypes

In [ ]:
data.isnull().sum()

In [ ]:
data.fillna(data.mean(), inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
X = data.drop('loan_status', axis=1)
Y = data['loan_status']

X.shape, Y.shape

In [ ]:
data.columns

In [ ]:
data.columns = data.columns.str.strip()

In [ ]:
X = data.drop('loan_status', axis=1)
Y = data['loan_status']

X.shape, Y.shape

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(
    X, Y, test_size=0.3, random_state=42
)

X_train.shape, X_test.shape

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42)
model.fit(X_train, Y_train)

In [ ]:
Y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy * 100)

In [ ]:
data.columns = data.columns.str.strip()

In [ ]:
data.columns

In [ ]:
data = data.drop('loan_id', axis=1)

In [ ]:
X = data.drop('loan_status', axis=1)
Y = data['loan_status']

X.shape, Y.shape

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in data.select_dtypes(include='object').columns:
    data[col] = le.fit_transform(data[col])

In [ ]:
X = data.drop('loan_status', axis=1)
Y = data['loan_status']

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=42)
model.fit(X, Y)

In [1]:
# 1. Load libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier

# 2. Load data
data = pd.read_csv("loan_approval_dataset.csv")

# 3. Clean column names
data.columns = data.columns.str.strip()

# 4. Drop useless column
data = data.drop('loan_id', axis=1)

# 5. Encode categorical columns
le = LabelEncoder()
for col in data.select_dtypes(include='object').columns:
    data[col] = le.fit_transform(data[col])

# 6. Create X and Y
X = data.drop('loan_status', axis=1)
Y = data['loan_status']

# 7. Train model
model = RandomForestClassifier(random_state=42)
model.fit(X, Y)

# 8. Predict ONE loan
sample = X.iloc[[0]]
prediction = model.predict(sample)

print("✅ Loan Approved" if prediction[0] == 1 else "❌ Loan Rejected")

❌ Loan Rejected